html {
    scroll-behavior: smooth;
}

a{
    -webkit-transition: all 0.2s ease !important;  
    -moz-transition: all 0.2s ease !important;
    -ms-transition: all 0.2s ease !important;  
    -o-transition: all 0.2s ease !important;
    transition: all 0.2s ease !important;
}

body {
    color: white;
    
}

@media screen and (min-width: 600px) {
    body{
        background-image: url('../img/FONDO-DE-WEBDESENF.jpeg');
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
    }
}

.container{
    max-width: 620px;
    border-left: 3px #f2bb6b solid;
    border-right: 3px solid #f2bb6b;
    /* overflow: hidden; */
}

.shadow{
    position: relative;
}

.shadow::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}


.header-section {
    position: relative;
}

.header-section .container {
    background-image: url('../img/slide1.jpeg');
    background-size: cover;
    background-position: center;
    padding-top: 90px;
    padding-bottom: 230px;
    padding-left: 40px;
    padding-right: 40px;
}

.header-section h1 {
    font-size: 3rem;
    color: #FFD700;
}

.token-info .container, .gallery-section .container {
    background-color: #f57c00;
    background: linear-gradient(to bottom, #f57c00, #fbc02d);
}

.token-info .container::before, .gallery-section .container::before{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    background-image: url(../img/trama-de-lineas-slide-3.png);
    background-size: cover;
    height: 100%;
    top: 0;
    left: 0;
}

.token-info .container {
    background-color: #333;
    padding: 50px;
    padding-bottom: 114px;
}

.token-info h2 {
    text-align: center;
    color: #FFD700;
}

.price-section {
    background-color: #222;
    padding: 30px 0;
}

.buy-section {
    /* padding: 50px 0; */
}

.buy-section .container {
    background-color: #444; /* Fondo dentro del contenedor */
    padding: 130px 60px;
    background-image: url(../img/slide3.jpg);
    background-size: 100%;
    background-position: top center;
}

@media screen and (max-width: 900px) {
    .buy-section .container {
        padding: 130px 20px;
    }
}

.buy-section img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

.footer {
    text-align: center;
}

.footer img {
    margin: 0 13px;
}

.navbar {
    background-color: #222;
    padding-bottom: 16px;
    transform: translateY(-100%); /* Mueve el navbar hacia arriba fuera de la pantalla */
    transition: transform 1s ease; /* Transición suave para el movimiento */
    position: fixed;
    top: 0;
    z-index: 1020;
    width: 100%;
}

.navbar.show-navbar {
    transform: translateY(0); /* Vuelve el navbar a su lugar original */
}

.navbar .container {
    border: 0;
}

.navbar a,
.navbar a:focus{
    color: #FFDEA7;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

@media screen and (max-width: 650px) {
    .navbar a{
        text-align: right;
    }
}

.navbar a:hover {
    color: #FFF;
    transform: translateY(-2px);
}

.navbar a.active{
    color: #FFF;
    font-weight: bold;
}

.gallery-section {
    /* padding: 50px 0; */
}

.gallery-section .container {
    background-color: #333; /* Fondo dentro del contenedor */
    padding: 60px 30px;
    padding-bottom: 120px;
}

.modal-content{
    background-color: #333;
}

.tns-controls{
    display: none;
}

.my-slider img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    height: 100px;
    cursor: pointer;
}

.tns-item {
    display: flex;
    justify-content: center;
}

.gallery-section {
}

section#media .tns-nav {
    bottom: -5px;
    width: 100%;
}

.tns-nav {
    text-align: center; /* Centra los indicadores */
    /* margin-top: 15px; */ /* Espacio entre los indicadores y el carrusel */
    position: absolute;
    bottom: 15px;
    width: calc(100% - 40px);
}

.tns-nav button {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    padding: 0;
}

.tns-nav button.tns-nav-active {
    background-color: #f7da96; 
}

.tns-nav button:hover {
    cursor: pointer;
    background-color: #f7da96; 
}

footer .container{
    background-image: url('../img/slide4.jpg');
    background-size: cover;
    padding-top: 1rem !important;
    padding-bottom: 4rem !important;
    background-position: center;
}

footer .container > * {
    position: relative;
    z-index: 1;
}

footer .container:after {
    z-index: 0;
    height: 190px;
}

.sep-menu {
    width: 100%;
    border-top: 2px solid #e8e5d6;
    position: absolute;
    bottom: 11px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 1); /* Fondo negro */
    z-index: 99999; /* Asegura que esté por encima de todo el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición para fade y desplazamiento */
}

#loading-screen.fade-out {
    /*opacity: 0;*/ /* Desaparece con el fade out */
    transform: translateY(-100vh); /* Se mueve hacia arriba al hacer fade out */
    pointer-events: none; /* Asegura que no interfiera con el contenido una vez que está invisible */
}

.levitate {
    animation: levitate 5s ease-in-out infinite;
}

.levitate-invert {
    animation: levitate-invert 6s ease-in-out infinite;
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(0); /* Posición inicial y final */
    }
    50% {
        transform: translateY(-15px); /* Subir 20px hacia arriba */
    }
}

@keyframes levitate-invert {
    0%, 100% {
        transform: translateY(0); /* Posición inicial y final */
    }
    50% {
        transform: translateY(-5px); /* Subir 20px hacia arriba */
    }
}

.social-links a{
    display: inline-block;
}
.social-links a img{
    width: 60px;
}
.social-links a:hover{
    transform: scale(1.2);
}


.carousel-container {
    max-width: 400px; /* Ajusta el tamaño según lo necesites */
    background-color: #1a1a1a; /* Fondo negro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    padding-bottom: 25px;
    text-align: center;
    position: relative;
    color: white;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 1); /* Sombra para dar efecto de profundidad */
    -webkit-transition: all 0.2s ease;  
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;  
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.carousel-container:hover{
    transform: scale(1.1)
}

/* Barrita de progreso superior */
.progress-bar {
    width: 80%;
    height: 3px;
    background-color: #333; /* Fondo gris oscuro */
    border-radius: 3px;
    margin: 0 auto 15px auto;
    position: relative;
    overflow: hidden; /* Para ocultar la parte que se mueve fuera del contenedor */
}

.progress {
    width: calc(100% / 3); /* Dividido según el número de páginas (ejemplo: 3 páginas) */
    height: 100%;
    background-color: #f7da96; /* Color gris claro */
    border-radius: 3px;
    -webkit-transition: all 0.2s ease;  
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;  
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Contenido del carrusel */
.carousel-content p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 1px;
}

.carousel-content p span {
    font-style: italic; /* Para el texto en cursiva */
}

/* Estilos adicionales para ajustar en mobile */
@media (max-width: 480px) {
    .carousel-container {
        /* width: 90%; */ /* Para que se ajuste mejor en pantallas pequeñas */
    }
}


button[data-action="stop"],
button[data-action="start"]{
    display: none;
}

.tns-outer {
    padding-bottom: 25px !important;
}

.copy-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    width: auto;
    padding: 0;
    display: inline-block;
    vertical-align: text-bottom;
}

button#copy-button img {
    margin: 0;
}

.copied-message {
    display: none; /* Escondido por defecto */
    font-size: 14px;
    margin-top: 10px;
    animation: fadeOut 3s forwards;
    position: absolute;
    background-color: #000;
    color: #fff;
    bottom: 10px;
    padding: 8px;
    z-index: 9999;
    /* display: block; */
    right: 10px;
    border-radius: 4px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.shiny-image {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Asegura que nada salga del contenedor */
}

.shiny-image img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.shiny-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%; /* Empieza fuera del contenedor */
    width: 300%; /* Asegura que el brillo cubra toda la imagen al moverse */
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 70%);
    animation: shine 2s infinite; /* Duración y repetición de la animación */
    pointer-events: none; /* Evita interferencia con la interacción del usuario */
    
    /* Máscara que limita el brillo solo a la imagen */
    mask-image: url('assets/img/escudo.png'); /* Reemplaza con la URL correcta de la imagen */
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}

@keyframes shine {
    0% {
        left: -150%;
    }
    100% {
        left: 150%; /* Cruza la imagen */
    }
}


.modal-header .btn-close {
    filter: brightness(0) invert(1);
}

span#token-address {
    overflow-wrap: break-word;
    word-wrap: break-word;
}


@media screen and (max-width: 900px) {
    .header-section .container,
    .token-info .container,
    .gallery-section .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-collapse{
        background-color: #444 !important;
        margin-left: -12px;
        margin-right: -12px;
        padding-right: 15px;
        padding-left: 15px;
    }
}